# Population Size CSV

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import key
import io
import requests

### Extract population size data from a csv file

In [2]:
# Read population size data from a csv file
# pop_file = "/Users/shifaamian/Documents/GitHub/Earthquake_Project/worldcitiespop.csv"
pop_file = "/Users/ivyfo/Downloads/worldcitiespop.csv"
pop_df = pd.read_csv(pop_file)
pop_df.head()

# url = 'http://barza.coolpage.biz/worldcitiespop.csv'
# s=requests.get(url).text
# pop_df=pd.read_csv(s)

C:\Users\ivyfo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Country        City  AccentCity Region  Population   Latitude  Longitude
0      ad       aixas       Aixàs      6         NaN  42.483333   1.466667
1      ad  aixirivali  Aixirivali      6         NaN  42.466667   1.500000
2      ad  aixirivall  Aixirivall      6         NaN  42.466667   1.500000
3      ad   aixirvall   Aixirvall      6         NaN  42.466667   1.500000
4      ad    aixovall    Aixovall      6         NaN  42.466667   1.483333

### Transform: Clean and format the earthquake data

In [3]:
# Create a filtered dataframe from specific columns
pop_cols = ["City", "Country", "Population"]
pop_transformed = pop_df[pop_cols].copy()

# Rename the column headers
pop_transformed = pop_transformed.rename(columns={"City": "city_name",
                                                    "Country": "country_code",
                                                    "Population": "population_size"})

# Drop any rows with missing data
pop_transformed = pop_transformed.dropna(how="any")

# Clean the data by dropping duplicates and setting the index
pop_transformed.drop_duplicates("city_name", inplace=True)
pop_transformed.set_index("city_name", inplace=True)

# Preview data
pop_transformed.head()

                 country_code  population_size
city_name
andorra la vella           ad          20430.0
canillo                    ad           3292.0
encamp                     ad          11224.0
la massana                 ad           7211.0
les escaldes               ad          15854.0

### Load the final population size dataframe into the SQL database

In [4]:
# Connect to db
engine = create_engine(f"postgresql://postgres:root123@localhost:5432/earthquakes_db")

In [5]:
# Confirm tables
engine.table_names()

['earthquakes', 'population_size', 'gdp']

In [6]:
# Load df into the database
pop_transformed.to_sql(name='population_size', con=engine, if_exists='append', index=True)

In [7]:
# Confirm data has been added by querying the gdp table
pop_df_from_sql = pd.read_sql_query('SELECT * FROM population_size',con=engine)
pop_df_from_sql

              city_name country_code  population_size
0      andorra la vella           ad          20430.0
1               canillo           ad           3292.0
2                encamp           ad          11224.0
3            la massana           ad           7211.0
4          les escaldes           ad          15854.0
...                 ...          ...              ...
43177         redcliffe           zw          38231.0
43178            rusape           zw          23761.0
43179          shurugwi           zw          17107.0
43180    victoria falls           zw          36702.0
43181        zvishavane           zw          79876.0

[43182 rows x 3 columns]