In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time
import pycountry
from sqlalchemy import create_engine
from config import key

In [2]:
# Save un_stats url
un_stats_url = 'https://unstats.un.org/unsd/snaama/Index'

### Extract: Use splinter to scrape GDP data table from UN stats website

In [3]:
# Open chrome browser
executable_path = {'executable_path':'chromedriver.exe'}
browser = Browser('chrome',**executable_path,headless=False, incognito=True)

# Visit un_stats url
browser.visit(un_stats_url)

# Navigate to data selection page
browser.click_link_by_partial_text('Data Selection')

# Select all countries
browser.find_by_css('button.multiselect').first.click()
browser.find_by_css('li.multiselect-all').first.click()

# Select only 2017
browser.find_option_by_text('2017').first.click() 

# Select GDP in current USD
browser.find_option_by_text('GDP, at current prices - US Dollars').first.click() 

# Click "send request" to generate data table
browser.find_by_text('Send request').click()   

# Wait 10 seconds for data to load
time.sleep(10)

# Save html from browser in object
gdp_html = browser.html

# Close chrome browser
browser.quit()

C:\Users\ivyfo\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:504: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [4]:
# Scrape gdp table from gdp_html 
gdp_df = pd.read_html(gdp_html)[0]   

# Preview df
gdp_df.head()

  Country/Area  Year Unit  Gross Domestic Product (GDP)
0  Afghanistan  2017  US$                   21992764469
1       Africa  2017  US$                 2215905688902
2      Albania  2017  US$                   13039355905
3      Algeria  2017  US$                  167555254047
4     Americas  2017  US$                26900598222376

### Transform: Clean and format the GDP Data

In [5]:
# Convert GDP to USD in millions
gdp_df['Gross Domestic Product (GDP) (Millions)'] = gdp_df['Gross Domestic Product (GDP)']/1000000

# Convert USD in millions to integer
gdp_df['Gross Domestic Product (GDP) (Millions)']  = gdp_df['Gross Domestic Product (GDP) (Millions)'].astype(int)

# Keep only the columns needed
gdp_df = gdp_df[['Country/Area','Year','Gross Domestic Product (GDP) (Millions)']]

# Rename columns
gdp_df = gdp_df.rename(columns={"Country/Area":"country", 
                                "Year":"year",
                                "Gross Domestic Product (GDP) (Millions)":"gdp_usd_millions"})

# Print df
gdp_df.head()

       country  year  gdp_usd_millions
0  Afghanistan  2017             21992
1       Africa  2017           2215905
2      Albania  2017             13039
3      Algeria  2017            167555
4     Americas  2017          26900598

In [6]:
# Update names of some countries so names can be used in pycountry
# Update names of some regions so names will not be mixed up with those of countries
gdp_df['country'] = gdp_df['country'].replace(to_replace="Bolivia (Plurinational State of)",value="Bolivia") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="China, People's Republic of",value="China") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="Micronesia",value="Micronesia (region)") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="Micronesia (Federated States of)",value="Micronesia") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="Niger",value="Republic of the Niger") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="The former Yugoslav Republic of Macedonia",value="Macedonia") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="United Republic of Tanzania: Mainland",value="Tanzania") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="United Republic of Tanzania: Zanzibar",value="Zanzibar") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="Venezuela (Bolivarian Republic of)",value="Venezuela") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="Africa",value="Africa (region)") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="Eastern Africa",value="Eastern Africa (region)") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="Middle Africa",value="Middle Africa (region)") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="Northern Africa",value="Northern Africa (region)") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="Southern Africa",value="Southern Africa (region)") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="Sub-Saharan Africa",value="Sub-Saharan Africa (region)") 
gdp_df['country'] = gdp_df['country'].replace(to_replace="Western Africa",value="Western Africa (region)") 

# Preview df
gdp_df.head()

           country  year  gdp_usd_millions
0      Afghanistan  2017             21992
1  Africa (region)  2017           2215905
2          Albania  2017             13039
3          Algeria  2017            167555
4         Americas  2017          26900598

### Extract: Use pycountry to obtain alpha 2 codes and names for countries in the GDP Data

In [7]:
# Create list to hold the country info dictionaries
countries_info_list = []

# Loop through country names and save information in a list of dictionaries
for country in list(gdp_df['country']):
    
    try:
        country_info = pycountry.countries.search_fuzzy(country)
        country = country
        country_code = country_info[0].alpha_2
        country_name = country_info[0].name
        
        country_info_dict = {"country":country,
                            "country_code":country_code,
                            "country_name":country_name}
        
        countries_info_list.append(country_info_dict)
               
    except:
        print(f"Error: {country}")
        
# Notes: Error for all regions as they cannot be matched with countries in pycountry
    # Zanzibar is a country but it is not matched - Zanzibar does not have an alpha 2 code

Error: Africa (region)
Error: Americas
Error: Asia
Error: Australia and New Zealand
Error: Caribbean
Error: Central America
Error: Central Asia
Error: China, Hong Kong SAR
Error: China, Macao Special Administrative Region
Error: Democratic Republic of the Congo
Error: Eastern Africa (region)
Error: Eastern Asia
Error: Eastern Europe
Error: Europe
Error: Latin America and the Caribbean
Error: Melanesia
Error: Micronesia (region)
Error: Middle Africa (region)
Error: Northern Africa (region)
Error: Northern America
Error: Northern Europe
Error: Oceania
Error: South America
Error: South-Eastern Asia
Error: Southern Africa (region)
Error: Southern Asia
Error: Southern Europe
Error: Sub-Saharan Africa (region)
Error: Zanzibar
Error: Western Africa (region)
Error: Western Asia
Error: Western Europe
Error: World

In [8]:
# Convert list of dictionaries to df
countries_info_df = pd.DataFrame(countries_info_list)

# Preview df
countries_info_df.head()

       country country_code country_name
0  Afghanistan           AF  Afghanistan
1      Albania           AL      Albania
2      Algeria           DZ      Algeria
3      Andorra           AD      Andorra
4       Angola           AO       Angola

### Transform: Clean the countries info data

In [9]:
# Manually replace country_info for Curaçao
countries_info_df['country_name'] = countries_info_df['country_name'].replace(to_replace="Netherlands",value="Curaçao") 
countries_info_df['country_code'] = countries_info_df['country_code'].replace(to_replace="NL",value="CW")

# Preview Curaçao country info
countries_info_df.loc[countries_info_df['country']=='Curaçao']

    country country_code country_name
48  Curaçao           CW      Curaçao

### Transform: Merge the GDP and countries info data and drop duplicates

In [10]:
# Merge gdp_df and countries_info_df based on country
gdp_df_final = pd.merge(gdp_df,countries_info_df,how='inner',on='country')

# Keep only the columns needed 
gdp_df_final = gdp_df_final[['country_name','country_code','year','gdp_usd_millions']]

In [11]:
# Print df shape before dropping duplicates
print(f"gdp_df_final shape before dropping duplicates: {gdp_df_final.shape}")
      
# Drop duplicates
gdp_df_final = gdp_df_final.drop_duplicates()

# Print df shape after dropping duplicates
print(f"gdp_df_final shape after dropping duplicates: {gdp_df_final.shape}")

gdp_df_final shape before dropping duplicates: (209, 4)
gdp_df_final shape after dropping duplicates: (209, 4)

In [12]:
# Preview df
gdp_df_final.head()

  country_name country_code  year  gdp_usd_millions
0  Afghanistan           AF  2017             21992
1      Albania           AL  2017             13039
2      Algeria           DZ  2017            167555
3      Andorra           AD  2017              3013
4       Angola           AO  2017            126505

### Load: Load the final GDP dataframe into the SQL database

In [13]:
# Connect to local database
engine = create_engine(f"postgresql://postgres:{key}@localhost:5432/earthquakes_db")

In [14]:
# Check for tables
engine.table_names()

['population', 'earthquakes', 'city', 'population_size', 'gdp']

In [15]:
# Load df into the database
gdp_df_final.to_sql(name='gdp',con=engine,if_exists='append',index=False)

In [16]:
# Confirm data has been added by querying the gdp table
gdp_df_from_sql = pd.read_sql_query('SELECT * FROM gdp',con=engine)
gdp_df_from_sql

                          country_name country_code    year  gdp_usd_millions
0                          Afghanistan           AF  2017.0           21992.0
1                              Albania           AL  2017.0           13039.0
2                              Algeria           DZ  2017.0          167555.0
3                              Andorra           AD  2017.0            3013.0
4                               Angola           AO  2017.0          126505.0
..                                 ...          ...     ...               ...
204  Venezuela, Bolivarian Republic of           VE  2017.0          255092.0
205                           Viet Nam           VN  2017.0          223779.0
206                              Yemen           YE  2017.0           27956.0
207                             Zambia           ZM  2017.0           25868.0
208                           Zimbabwe           ZW  2017.0           18036.0

[209 rows x 4 columns]